---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Liquibase</title>
    
    {% include partials/favicons.html %}

    <link rel="stylesheet" href="redesign/assets/css/bundle.min.css" />
    
    {% include tracking-codes/reddit.tracking-code.html %}
</head>

<body>
    <header class="site-header white-header">
        <div class="wrapper">
            <div class="left-header">
                <div class="logo">
                    <a href="https://www.liquibase.org/" class="color-logo"><img src="redesign/assets/img/logo.png" alt="Site Logo"></a>
                    <a href="https://www.liquibase.org/" class="transparent-logo"><img src="redesign/assets/img/logo-transparent.png" alt="Site Logo"></a>
                </div>
            </div>
            <div class="right-header">
                <div class="menu-overlay">
                    <div class="menu-container">
                        <div class="menu-content">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="https://www.liquibase.org/quickstart.html">Getting Started</a></li>
                                    <li><a href="https://download.liquibase.org/">Download</a></li>
                                    <li><a href="https://www.liquibase.org/documentation/index.html">Documentation</a></li>
                                    <li><a href="https://www.liquibase.org/community/index.html">User Community</a></li>
                                    <li><a href="https://www.liquibase.org/blog/">Blog</a></li>
                                </ul>
                            </div>
                            <div class="header-btns">
                                <div class="hb-desktop">
                                    <a href="https://www.liquibase.org/demo" class="button" target="_blank">Try Pro for Free</a>
                                </div>
                                <!-- /.hb-desktop -->

                                <div class="hb-mobile">
                                    <div class="banner-btns">
                                        <a href="https://download.liquibase.org/" class="button download">Download Liquibase</a>
                                        <a href="https://www.liquibase.org/demo" class="button demo gray">See a Demo</a>
                                    </div>
                                </div>
                                <!-- /.hb-mobile -->
                            </div>
                            <!-- /.header-btns -->
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-btn">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /.wrapper -->
    </header>

    <section>
        <div class="home-banner-container">
            <div class="banner-inner-container">
                <div class="wrapper">
                    <div class="home-banner-area valign-wrapper">
                        <div class="banner-content">
                            <h1>Manage database changes with ease</h1>
                            <div class="heading-sub-text">
                                <p>Liquibase helps millions of teams track, version, and deploy database schema changes.
                                </p>
                            </div>
                            <div class="banner-btns">
                                <a href="https://download.liquibase.org/" class="button download">Download Liquibase</a>
                                <a href="https://www.liquibase.org/demo" class="button demo gray">See a Demo</a>
                            </div>
                        </div>
                        <div class="banner-image">
                            <img src="redesign/assets/img/home-banner-image.png" alt="">
                        </div>
                    </div>
                    <div class="banner-logos-container">
                        <div class="trusted-bar">
                            <span>Trusted by</span>
                        </div>
                        <!-- /.trusted-bar -->
                        <div class="banner-logos">
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo1.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo2.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo3.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo4.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo5.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="banner-logo">
                                <span><img src="redesign/assets/img/banner-logo6.svg" alt=""></span>
                            </div>
                            <!-- /.banner-logo -->
                            <div class="clear"></div>
                        </div>
                        <!-- /.banner-logos -->
                    </div>
                    <!-- /.banner-logos-container -->
                </div>
                <!-- /.wrapper -->
            </div>
            <!-- /.banner-inner-container -->
        </div>
        <!-- /.home banner container -->
    </section>
    <section class="glide-block">
        <div class="hello-bar-container">
            <div class="wrapper">
                <div class="hello-bar center-align">
                    <span>Come to the next Liquibase Community Meetup - February 13th</span>
                    <a href="https://register.gotowebinar.com/register/7994594529968763394" target="_blank" class="button gray">See Details</a>
                </div>
            </div>
        </div>
    </section>
    <section class="glide-block">
        <div class="wrapper">
            <div class="icon-with-discription">
                <h3 class="section-title">Why Liquibase has been downloaded over <strong>13 million</strong> times</h3>
                <div class="description-column valign-wrapper">
                    <div class="description-icon">
                        <span><img src="redesign/assets/img/discription-icon1.svg" alt=""></span>
                    </div>
                    <div class="iwc-content">
                        <h5>Flexible database change</h5>
                        <p>Easily define changes in <a href="https://www.liquibase.org/documentation/sql_format.html">SQL</a>, <a href="https://www.liquibase.org/documentation/xml_format.html">XML</a>, <a href="https://www.liquibase.org/documentation/json_format.html">JSON</a>, or <a href="https://www.liquibase.org/documentation/yaml_format.html">YAML</a>. Liquibase can automatically <a href="https://www.liquibase.org/documentation/sql_output.html">generate database-specific SQL</a> for you.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="description-column valign-wrapper">
                    <div class="description-icon">
                        <span><img src="redesign/assets/img/discription-icon2.svg" alt=""></span>
                    </div>
                    <div class="iwc-content">
                        <h5>Version control for your database</h5>
                        <p>Order changes and standardize development to make reviews, audits, and troubleshooting a breeze.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="description-column valign-wrapper">
                    <div class="description-icon">
                        <span><img src="redesign/assets/img/discription-icon3.svg" alt=""></span>
                    </div>
                    <div class="iwc-content">
                        <h5>Built for modern dev teams</h5>
                        <p>Robust capabilities make branching and merging easy. You control when, where, and how <a href="https://www.liquibase.org/documentation/running.html">database changes are deployed</a>.</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="description-button center-align">
                <a href="https://download.liquibase.org/" class="button">Try Liquibase</a>
            </div>
        </div>
    </section>
    <section class="big-section glide-block">
        <!-- <div class="v-shape-container">
            <div class="v-shape-image">
                <img src="redesign/assets/img/v-shape.png" alt="">
            </div>
        </div> -->
        <div class="wrapper">
            <div class="databases-block">
                <div class="database-content">
                    <h2>Open source and extensible</h2>
                    <p>Liquibase supports a broad range of databases out of the box. Our flexible <a href="https://www.liquibase.org/extensions/index.html">extension framework</a> means new platforms and integrations are added all the time. </a></p>
                    <a href="https://www.liquibase.org/databases.html" class="button">View All Databases</a>
                </div>
                <div class="database-logos">
                    <div class="logo-row">
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/oracle.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/hyper-sql.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/sybase.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="logo-row">
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/h2.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/microsoft-sql.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/sq-lite.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/ibm-db.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="logo-row">
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/maria-db.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/postgre-sql.png" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="logo-box">
                            <a>
                                <span class="database-logo">
                                    <img src="redesign/assets/img/mysql.png" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>
    <section class="glide-block">
        <div class="wrapper">
            <div class="compare-block-container">
                <h2 class="section-title">5 ways Liquibase makes your life easier</h2>
                <div class="compare-lists-area">
                    <div class="compare-list-left">
                        <h5>Using Liquibase to Manage Database Migrations</h5>
                        <ul>
                            <li><span>1.</span>Version-controlled database schema changes</li>
                            <li><span>2.</span>Automatically orders scripts for deployment</li>
                            <li><span>3.</span>Branching and merging for teams</li>
                            <li><span>4.</span>Embeds into your product or build tools, like Jenkins</li>
                            <li><span>5.</span>Easily rollback changes</li>
                        </ul>
                    </div>
                    <!-- /.compare-list-left -->
                    <div class="vs-compair"><img src="redesign/assets/img/vs-icon.svg" alt=""></div>
                    <div class="compare-line"></div>
                    <div class="compare-list-right">
                        <h5>Manual Change Management</h5>
                        <ul>
                            <li>Has the script been applied or not?</li>
                            <li>Manually order scripts</li>
                            <li>Developers overwrite each other’s changes</li>
                            <li>Harder to implement continuous deployments</li>
                            <li>Hours spent reworking scripts</li>
                        </ul>
                    </div>
                    <!-- /.compare-list-right -->
                    <div class="clear"></div>
                </div>
                <div class="center-align">
                    <a href="https://download.liquibase.org/" class="button">Try Liquibase</a>
                </div>
            </div>
            <!-- /.compare-block-container -->
        </div>
    </section>
    <section class="glide-block">
        <div class="testimonials-container">
            <div class="wrapper">
                <div class="testimonials-area">
                    <h2>Our 2019 survey results are in. <span>Here’s what users had to say...</span></h2>
                    <div class="slider-area owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text big-text">“Simply love it.”</div>
                                <div class="client-name">
                                    Developer & Release Engineer
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text big-text">“An awesome tool. Fast. Reliable.”</div>
                                <div class="client-name">
                                    Developer
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text">“Love how responsive your company is.”</div>
                                <div class="client-name">
                                    Architect at Large
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text">“I love using Liquibase. I don't want to think about doing
                                    database releases without
                                    it, anymore.”</div>
                                <div class="client-name">
                                    DBA
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text big-text">“Liquibase is like Git for databases.”</div>
                                <div class="client-name">
                                    Cloud Architect
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="item">
                            <div class="testimonial-box">
                                <div class="testimonial-text">“Liquibase is a great tool that changed the way I manage database changes.”
                                </div>
                                <div class="client-name">
                                    Development Manager
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!-- /.testimonials-container -->
    </section>
    <section class="big-section glide-block">
        <div class="wrapper">
            <div class="cta-container">
                <div class="row">
                    <div class="col l5 m12 s12 cta-content big-content">
                        <h2>Try Liquibase Pro</h2>
                        <p>Liquibase Pro includes more features and support.</p>
                    </div>
                    <div class="col l6 m12 s12 right cta-form">
                        <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_17" id="gform_17"
                            action="/#gf_17">
                            <div class="gform_body">
                                <ul id="gform_fields_17"
                                    class="gform_fields top_label form_sublabel_below description_below">
                                    <li id="field_17_1"
                                        class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                        <label class="gfield_label" for="input_17_1">Enter your email</label>
                                        <div class="ginput_container ginput_container_text"><input name="input_1"
                                                id="input_17_1" type="text" value="" class="medium is-blank"
                                                placeholder="" aria-invalid="false"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_17"
                                    class="gform_button button" value="Try 30 Days Free"
                                    onclick="if(window[&quot;gf_submitting_17&quot;]){return false;}  window[&quot;gf_submitting_17&quot;]=true;  "
                                    onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_17&quot;]){return false;} window[&quot;gf_submitting_17&quot;]=true;  jQuery(&quot;#gform_17&quot;).trigger(&quot;submit&quot;,[true]); }">
                                <input type="hidden" name="gform_ajax"
                                    value="form_id=17&amp;title=&amp;description=&amp;tabindex=0">
                                <input type="hidden" class="gform_hidden" name="is_submit_17" value="1">
                                <input type="hidden" class="gform_hidden" name="gform_submit" value="17">

                                <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                                <input type="hidden" class="gform_hidden" name="state_17"
                                    value="WyJbXSIsIjIzMTA2MjEwNjVjNGU1Y2IyZTVkYTYyODVlZjQwYTRmIl0=">
                                <input type="hidden" class="gform_hidden" name="gform_target_page_number_17"
                                    id="gform_target_page_number_17" value="0">
                                <input type="hidden" class="gform_hidden" name="gform_source_page_number_17"
                                    id="gform_source_page_number_17" value="1">
                                <input type="hidden" name="gform_field_values" value="">

                            </div>
                        </form>
                        <div class="form-ins"><span class="no-credit">No credit card required.</span></div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.wrapper -->
    </section>

    <section class="m-section footer-cta">
        <div class="wrapper">
            <div class="row valign-wrapper">
                <div class="col l8 m12 s12">
                    <h4>Not ready yet? Join us for a demo.</h4>
                    <p>Managing Database Schema Changes with Liquibase</p>
                </div>
                <!-- /.col l5 m12 s12 -->
                <div class="col l4 m12 s12 right-align">
                    <a href="https://www.liquibase.org/demo " class="button gray">See a Demo</a>
                </div>
                <!-- /.col l5 m12 s12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!-- /.footer-cta -->
    <footer>
        <div class="footer-container">
            <div class="wrapper">
                <div class="footer-widgets">
                    <div class="footer-widget">
                        <div class="widget-inner">
                            <div class="footer-logo">
                                <a href="#"><img src="redesign/assets/img/logo.png" alt=""></a>
                            </div>
                            <!-- /.footer-logo -->
                            <div class="footer-socials">
                                <a href="https://www.youtube.com/channel/UC5qMsRjObu685rTBq0PJX8w" target="_blank"><img src="redesign/assets/img/youtube-icon.svg" alt=""></a>
                                <a href="https://twitter.com/liquibase" target="_blank"><img src="redesign/assets/img/twitter-icon.svg" alt=""></a>
                                <a href="https://github.com/liquibase/liquibase" target="_blank"><img src="redesign/assets/img/github-icon.svg" alt=""></a>
                                <a href="https://www.reddit.com/r/liquibase/" target="_blank"><img src="redesign/assets/img/reddit-icon.svg" alt=""></a>
                                <a href="https://www.linkedin.com/groups/12319924/" target="_blank"><img src="redesign/assets/img/linkedin-icon.svg" alt=""></a>
                            </div>
                            <!-- /.footer-socials -->
                            <div class="footer-form-area">
                                <h5>Keep in the know!</h5>
                                <span>Sign up for our newsletter</span>
                                <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_1"
                                    id="gform_1" action="/#gf_17">
                                    <div class="gform_body">
                                        <ul id="gform_fields_1"
                                            class="gform_fields top_label form_sublabel_below description_below">
                                            <li id="field_1"
                                                class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                                <label class="gfield_label" for="input_1">Email Address</label>
                                                <div class="ginput_container ginput_container_text"><input
                                                        name="input_1" id="input_1" type="text" value=""
                                                        class="medium is-blank" placeholder="" aria-invalid="false">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="gform_footer top_label"> <input type="submit"
                                            id="gform_submit_button_17" class="gform_button button" value="Subscribe"
                                            onclick="if(window[&quot;gf_submitting_17&quot;]){return false;}  window[&quot;gf_submitting_17&quot;]=true;  "
                                            onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_17&quot;]){return false;} window[&quot;gf_submitting_17&quot;]=true;  jQuery(&quot;#gform_17&quot;).trigger(&quot;submit&quot;,[true]); }">
                                        <input type="hidden" name="gform_ajax"
                                            value="form_id=17&amp;title=&amp;description=&amp;tabindex=0">
                                        <input type="hidden" class="gform_hidden" name="is_submit_17" value="1">
                                        <input type="hidden" class="gform_hidden" name="gform_submit" value="17">

                                        <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                                        <input type="hidden" class="gform_hidden" name="state_17"
                                            value="WyJbXSIsIjIzMTA2MjEwNjVjNGU1Y2IyZTVkYTYyODVlZjQwYTRmIl0=">
                                        <input type="hidden" class="gform_hidden" name="gform_target_page_number_17"
                                            id="gform_target_page_number_17" value="0">
                                        <input type="hidden" class="gform_hidden" name="gform_source_page_number_17"
                                            id="gform_source_page_number_17" value="1">
                                        <input type="hidden" name="gform_field_values" value="">

                                    </div>
                                </form>
                            </div>
                            <!-- /.footer-form-area -->
                        </div>
                    </div>
                    <!-- /.footer-widget -->
                    <div class="footer-widget">
                        <h4>Docs & Tutorials</h4>
                        <ul>
                            <li><a href="https://www.liquibase.org/documentation/index.html">Documentation</a></li>
                            <li><a href="https://www.liquibase.org/databases.html">Supported Databases</a></li>
                            <li><a href="https://www.liquibase.org/get_started/index.html">Getting Started</a></li>
                            <li><a href="https://www.liquibase.org/bestpractices.html">Best Practices</a></li>
                            <li><a href="https://www.liquibase.org/documentation/tutorials/index.html">Tutorials</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                    <div class="footer-widget">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="https://download.liquibase.org/expert-exchange/">Expert Exchange</a></li>
                            <li><a href="https://www.liquibase.org/community/index.html">User Community</a></li>
                            <li><a href="https://www.liquibase.org/extensions/index.html">Extensions</a></li>
                            <li><a href="https://www.liquibase.org/blog/">Blog</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                    <div class="footer-widget">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="https://www.liquibase.org/about.html">About Liquibase</a></li>
                            <li><a href="https://www.liquibase.org/development/index.html">Development</a></li>
                            <li><a href="https://download.liquibase.org/liquibase-pro-contact-us/">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.footer-widget -->
                    <div class="clear"></div>
                </div>
                <!-- /.footer-widgets -->
            </div>
            <div class="footer-bottom">
                <div class="wrapper">
                    <div class="copyright">Datical © 2020. All Rights Reserved.</div>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="https://www.datical.com/privacy-policy/">Privacy Policy</a></li>
                            <li><a href="https://download.liquibase.org/eula/">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script type="text/javascript" src="redesign/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="redesign/assets/js/bundle.min.js"></script>
    
    <!-- Legacy Tracking Codes -->
    {% include tracking-codes/google-analytics.tracking-code.html %}
    {% include tracking-codes/google-analytics-outbound.tracking-code.html %}
</body>

</html>
