@import "util/_elevation";

.landing-page {
  &__horizontal-rule {
    height: 2px;
    width: 25%;
    background: goldenrod;
    margin-bottom: 24px;

    &--centered {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-content {
    margin-top: 24px;
    margin-bottom: 48px;

    &__title {
      display: flex;
      align-items: center;

      &__icon {
        max-width: 96px;
        margin-right: 8px;

        img {
          width: 100%;
        }
      }
    }

    &__heading {
      margin-bottom: 36px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 36px;
    }

    &__cta {
      display: inline-block;
    }

    &--large {
      h1 {
        font-size: 3.5em;
      }

      .landing-page__main-content__text {
        font-size: 24px;
      }
    }
  }

  &__cta-block {
    @include dat-elevation(2);
    background: whitesmoke;
    padding: 24px;
    border-radius: 6px;
    text-align: center;
    margin-top: 24px;

    &__heading {
      margin-bottom: 24px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  &__demo-types {
    margin-top: 24px;
    padding: 24px;
  }

  &__demo-type {
    display: flex;
    margin-bottom: 72px;

    &__icon {
      img {
        width: 100%;
      }
    }

    &__info {
      margin-bottom: 16px;
      font-size: 14px;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    &__cta {
      a {
        background: linear-gradient(rgb(245, 116, 18), rgb(221, 100, 9));
        padding: 8px 24px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        text-align: center;
        display: inline-block;
        border-radius: 4px;
      }
    }
  }
}
