$colors: (
  white: #ffffff,
  black: #000000,
  black30: rgba(0, 0, 0, 0.3),
  blackish: #1b1b1b,
  dblue: #001e59,
  blue: #033598,
  sblue: #0079ff,
  gblue: #4d7db1,
  gblue70: rgba(#4d7db1, 0.7),
  dgblue: #536587,
  dgblue50: rgba(#536587, 0.5),
  yellow: #f87513,
  dyellow: #dd6205,
  dsky: #bccee3,
  dsky50: rgba(#bccee3, 0.5),
  dsky20: rgba(#bccee3, 0.2),
  sky: #d3e5f9,
  lsky: #ecf8ff
);
