---
layout: base
title: Liquibase News
subnav: subnav_blog.md
---

<div class="container">

  <div class="span-6 border">
    <ul id="leftnav">

      {% assign subnavPrefix = "subnav" %}
      {% assign returnFileName = subnavPrefix %}
      {% assign subRoutes = page.path | split:'/' %}
      <!-- If we're on a nested route, build the subnav filename. -->
      {% if subRoutes.size > 1 %}
        {% for route in subRoutes %}
          {% if forloop.last %}
            <!-- Do Nothing. -->
          {% else %}
            {% capture returnFileName %}{{returnFileName}}_{{route}}{% endcapture %}
          {% endif %}
        {% endfor %}
        {% capture returnFileName %}{{returnFileName}}.md{% endcapture %}
      {% else %}
        {% capture returnFileName %}{{returnFileName}}_main.md{% endcapture %}
      {% endif %}

      {% if page.subnav %}
        {% assign navPage = page.subnav %}
      {% else %}
        {% assign navPage = returnFileName %}
      {% endif %}

      {% case navPage %}
        {% when "subnav_main.md" %}
          {% include subnav_main.md %}
        {% when "subnav_documentation.md" %}
          {% include subnav_documentation.md %}
        {% when "subnav_documentation_changes.md" %}
          {% include subnav_documentation_changes.md %}
        {% when "subnav_documentation_sdk.md" %}
          {% include subnav_documentation_sdk.md %}
        {% when "subnav_development.md" %}
          {% include subnav_development.md %}
        {% when "subnav_community.md" %}
          {% include subnav_community.md %}
        {% when "subnav_blog.md" %}
          {% include subnav_blog.md %}
        {% when "subnav_quickstart.md" %}
          {% include subnav_quickstart.md %}
        {% when "subnav_maven.md" %}
          {% include subnav_maven.md %}
        {% when "subnav_tutorials.md" %}
          {% include subnav_tutorials.md %}
        {% when "subnav_workflows.md" %}
          {% include subnav_workflows.md %}
        {% else %}
          Unknown Nav {{navPage}}
      {% endcase %}
    </ul>

    {% include components/search/gcse-search.html isSideNav="true" %}



  </div>
  <div class="span-18 last">
    <div style="margin-left: 20px; padding-bottom: 100px">

      {% if page.date %}
      <div style="margin-bottom: 30px">
        <h2 style="color: #747373; text-decoration: none; text-transform: uppercase; margin-bottom: 0">{{page.title}}
        </h2>
        <p style="color: #747373; font-size: 16px">Posted {{page.date | date_to_string}} by 
        {% if page.author %}
          {{ page.author }}
        {% else %}
          Nathan Voxland
        {% endif %}
        </p>
      </div>
      {% endif %}

      {{content}}
    </div>
  </div>
</div>
