<footer>
  <div class="footer-container">
    <div class="wrapper">
      <div class="footer-widgets">
        <div class="footer-widget">
          <div class="widget-inner">
            <div class="footer-logo">
              <a href="#"><img src="/redesign/assets/img/logo.png" alt=""></a>
            </div>
            <!-- /.footer-logo -->
            <div class="footer-socials">
              <a href="https://www.youtube.com/channel/UC5qMsRjObu685rTBq0PJX8w" target="_blank"><img
                  src="/redesign/assets/img/youtube-icon.svg" alt=""></a>
              <a href="https://github.com/liquibase/liquibase" target="_blank"><img
                  src="/redesign/assets/img/github-icon.svg" alt=""></a>
              <a href="https://www.reddit.com/r/liquibase/" target="_blank"><img
                  src="/redesign/assets/img/reddit-icon.svg" alt=""></a>
              <a href="https://www.linkedin.com/groups/12319924/" target="_blank"><img
                  src="/redesign/assets/img/linkedin-icon.svg" alt=""></a>
              <a href="https://twitter.com/liquibase" target="_blank"><img src="/redesign/assets/img/twitter-icon.svg"
                  alt=""></a>
            </div>
            <!-- /.footer-socials -->
            <div class="footer-form-area">
              <h5>Keep in the know!</h5>
              <span>Sign up for our newsletter</span>
              <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_1" id="gform_1"
                action="/#gf_17">
                <div class="gform_body">
                  <ul id="gform_fields_1" class="gform_fields top_label form_sublabel_below description_below">
                    <li id="field_1"
                      class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                      <!-- <label class="gfield_label" for="input_1">Email Address</label> -->
                      <div class="ginput_container ginput_container_text">
                        <input name="input_1" id="input_1" type="text"
                          value="" class="medium is-blank" placeholder="Email Address" aria-invalid="false">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_17"
                    class="gform_button button" value="Subscribe"
                    onclick="if(window[&quot;gf_submitting_17&quot;]){return false;}  window[&quot;gf_submitting_17&quot;]=true;  "
                    onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_17&quot;]){return false;} window[&quot;gf_submitting_17&quot;]=true;  jQuery(&quot;#gform_17&quot;).trigger(&quot;submit&quot;,[true]); }">
                  <input type="hidden" name="gform_ajax" value="form_id=17&amp;title=&amp;description=&amp;tabindex=0">
                  <input type="hidden" class="gform_hidden" name="is_submit_17" value="1">
                  <input type="hidden" class="gform_hidden" name="gform_submit" value="17">

                  <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                  <input type="hidden" class="gform_hidden" name="state_17"
                    value="WyJbXSIsIjIzMTA2MjEwNjVjNGU1Y2IyZTVkYTYyODVlZjQwYTRmIl0=">
                  <input type="hidden" class="gform_hidden" name="gform_target_page_number_17"
                    id="gform_target_page_number_17" value="0">
                  <input type="hidden" class="gform_hidden" name="gform_source_page_number_17"
                    id="gform_source_page_number_17" value="1">
                  <input type="hidden" name="gform_field_values" value="">

                </div>
              </form>
            </div>
            <!-- /.footer-form-area -->
          </div>
        </div>
        <!-- /.footer-widget -->
        <div class="footer-widget">
          <h4>Docs & Tutorials</h4>
          <ul>
            <li><a href="/documentation/index.html">Documentation</a></li>
            <li><a href="/databases.html">Supported Databases</a></li>
            <li><a href="/get_started/index.html">Getting Started</a></li>
            <li><a href="/bestpractices.html">Best Practices</a></li>
            <li><a href="/documentation/tutorials/index.html">Tutorials</a></li>
          </ul>
        </div>
        <!-- /.footer-widget -->
        <div class="footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="https://download.liquibase.org/expert-exchange/">Expert Exchange</a></li>
            <li><a href="/community/index.html">User Community</a></li>
            <li><a href="/extensions/index.html">Extensions</a></li>
            <li><a href="/extension-partnership.html">Extension Partnership</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </div>
        <!-- /.footer-widget -->
        <div class="footer-widget">
          <h4>Company</h4>
          <ul>
            <li><a href="/about.html">About Liquibase</a></li>
            <li><a href="/development/index.html">Development</a></li>
            <li><a href="https://download.liquibase.org/liquibase-pro-contact-us/">Contact Us</a></li>
          </ul>
        </div>
        <!-- /.footer-widget -->
        <div class="clear"></div>
      </div>
      <!-- /.footer-widgets -->
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="copyright">Datical © 2020. All Rights Reserved.</div>
        <div class="footer-menu">
          <ul>
            <li><a href="https://www.datical.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://download.liquibase.org/eula/">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
