<header class="site-header white-header">
  <div class="wrapper">
      <div class="left-header">
          <div class="logo">
              <a href="https://www.liquibase.org/" class="color-logo"><img src="/redesign/assets/img/logo.png" alt="Site Logo"></a>
              <a href="https://www.liquibase.org/" class="transparent-logo"><img src="/redesign/assets/img/logo-transparent.png" alt="Site Logo"></a>
          </div>
      </div>
      <div class="right-header">
          <div class="menu-overlay">
              <div class="menu-container">
                  <div class="menu-content">
                      <div class="main-menu">
                          <ul>
                              <li><a href="https://www.liquibase.org/quickstart.html">Getting Started</a></li>
                              <li><a href="https://download.liquibase.org/">Download</a></li>
                              <li><a href="https://www.liquibase.org/documentation/index.html">Documentation</a></li>
                              <li><a href="https://www.liquibase.org/community/index.html">User Community</a></li>
                              <li><a href="https://www.liquibase.org/blog/">Blog</a></li>
                          </ul>
                      </div>
                      <div class="header-btns">
                          <div class="hb-desktop">
                              <a href="https://download.liquibase.org/" class="button" target="_blank">Try Pro for Free</a>
                          </div>
                          <!-- /.hb-desktop -->

                          <div class="hb-mobile">
                              <div class="banner-btns">
                                  <a href="https://download.liquibase.org/" class="button download">Download Liquibase</a>
                                  <a href="https://www.liquibase.org/demo" class="button demo gray">See a Demo</a>
                              </div>
                          </div>
                          <!-- /.hb-mobile -->
                      </div>
                      <!-- /.header-btns -->
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          <div class="menu-btn">
              <span class="top"></span>
              <span class="middle"></span>
              <span class="bottom"></span>
          </div>
      </div>
      <div class="clear"></div>
  </div>
  <!-- /.wrapper -->
</header>